*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/beta
/captures
.externalNativeBuild
.idea/encodings.xml
.idea/markdown-navigator/
app/build
gradle.properties
gradle/
gradlew
gradlew.bat
.idea/modules/
